# Datasets
data/*.csv

# Python/Jupyter
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# Models
# models/*.pkl
# models/*.h5
models/train_models_gridsearch.ipynb

# OS Files
.DS_Store
Thumbs.db
